{% extends base.html %}
{% from "macros.html" import render_field %}

{% block content %}

	<p>
		You requested that the password for your Kennedy Family Recipes account be reset.
		Please click the link below to reset your password:
	</p>
	
	<p>
	<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
	</p>
	
	<p>
	--<br>
	Questions? Comments? ..contact us page ....
	</p>

	<div class="add-recipe">
		<div class="page-header">
			<h2>Email Address:</h2>
		</div>
		<form action="{{ url_for('users.reset') }}" method="POST">
			{{ form.csrf_token }}
			<dl>
				{{ render_field(form.email, placeholder="Enter Email Address") }}
			</dl>
			<button class="button" type="submit">Submit</button>
		</form>
	</div>

{% endblock %}