asn1crypto==0.24.0
Authlib==0.10
bcrypt==3.1.6
beautifulsoup4==4.7.1
blinker==1.4
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-OAuth==0.12
flask-peewee==3.0.3
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
google==2.0.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
oauth2==1.9.0.post1
peewee==3.9.3
postgres==2.2.2
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
python-dotenv==0.10.1
requests==2.21.0
rsa==4.0
send-email==201212
six==1.12.0
soupsieve==1.9
uritemplate==3.0.0
urllib3==1.24.1
Werkzeug==0.15.1
wtf-peewee==3.0.0
WTForms==2.2.1
