/* Global Style */
/* /////////// */
/* body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
  min-height: 100vh;
  background-color: #F6F6F6;
} */


/* Footer */
/* ///// */

/* 
.footer {
  padding: 1.5rem;
  background-color: #E1E1E1;
} */

/* .field {
  margin: 0 auto;
} */

.hero-body {
  background-image: url('landing_hero.jpg')
  ')
}