/* Global Style */
/* /////////// */
/* body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
  min-height: 100vh;
  background-color: #F6F6F6;
} */


/* Footer */
/* ///// */

/* 
.footer {
  padding: 1.5rem;
  background-color: #E1E1E1;
} */

/* .field {
  margin: 0 auto;
} */


a.navbar-item {
  text-transform: uppercase;
}

.hero-body {
  /* background-image: url('landing_hero.jpg') */

}

.signupForm {
  padding-top: 100px;
}

.loginForm {
  padding-top: 10em;
}
.loginimg img {
  height: 100%;
  width: 100%;
  padding-top: 10em;
}


.profileTitle {
  padding-top: 100px;
}


.productsHeader {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
}

.productsHeader img {
  height:100%;
  width:100%;
}

.productsHeader h1 {
  padding-top: 100px;
}

/* <img src="{{ url_for('static', filename='products.jpg') }}"> */
