
/* //////////////////////*/
/* ////Global Style ////*/
/* ////////////////////*/


@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kristi');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* font-family: 'Questrial', sans-serif; */
  min-height: 100vh;
  /* background-color: #F6F6F6; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  background: white; 
  color: #676459;
}

/* .navbar.is-transparent */

nav.navbar.is-fixed-top {
    /* background-color: transparent; */
    /* background-image: none; */
    /* background-color: #7995BC; */
    background-color: #f2f2f0;
  }

/* links */

a {
  color: #64bba6;
}
a.navbar-item {
  color: #676459;
}

a.navbar-item:hover {
  color: #64bba6;
}
/* forms */
.field {
  margin: 0 auto;
}

input {
  width: 100%;
  border: none;
  border-bottom: solid #C9B9AB;
  /* border-radius: 4px; */
  padding: 6px;
}

/* imgages */
/* img {
  width: 100%;
  height: 100vh;
  padding: 0em;
} */


/* messages */
div.success{
  border: 2px solid #64bba6;
  padding: 1em;
  background-color: white;
}

/* buttons  */
button, .submitting {
  border: 2px solid #64bba6;
  border-radius: 5px;
  background-color: white;
  /* color: #676459; */
  color: #64bba6;
  cursor: pointer;
}
.submitting:hover {
  border: 2px solid #64bba6;
  background-color: #64bba6;
  color: white;
}

.cancel {
  border: 2px solid #8e4246;
  border-radius: 5px;
  background-color: white;
  color: #8e4246;
  cursor: pointer;
}

.cancel:hover {
  border: 2px solid #8e4246;
  background-color: #8e4246;
  color: white;
}

.grey {
  border: 2px solid #64bba6;
  background-color: #64bba6;
  color: white;
  cursor: pointer;
}

.grey:hover {
  border: 2px solid #64bba6;
  background-color: white;
  color: #676459;
}

/* error message */
.error {
  margin: 3em;
  border: solid #8e4246;
}

/* layout */
.column {
  height: 100%;
}
.card {
  height: 100%;
}

/* footer */
.footer {
  /* position: relative; */
  padding: 1.5rem;
  background-color: #f2f2f0;
  left: 0;
  bottom: 0;
  right: 0; 
  /* width: 100%;*/
} 

/* footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */


/* review page */
.review {
  padding-top: 5em;
}

.create-space {
  padding-top: 5em;
}

.box {
  width: 80vw;
}

h1.subtitle {
  padding-top: 100px;
}

.request {
  padding-top: 100px;
}

a.navbar-item {
  text-transform: uppercase;
}


/* landing page */
.landing {
  background-image: url(/static/landing_hero.jpg);
  /* background-position: center; */
  /* background-repeat:  no-repeat;  */
  /* background-attachment: fixed; */
  background-size:  cover;
  /* background-color: #999; */
  min-height: 100vh;
  /* padding-left: 5em; */
  padding-top: 5em;
} 

span.title {
  color: pink;
}
span.meets {
  font-family: 'Rock Salt', cursive;
  color: #64bba6;
}

div.hero-body {
  padding: 0em;
}
div.container.section-two {
  margin: 0em;
}

div.column.icon-heading.has-text-centered {
  margin-top: 10em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.icon {
  
}

.icon-text {
  padding: 7em;
  margin-top: 1em;
  margin-bottom: 5em;
}

img.div.container.section-two {
  width: 100vw;
}
.section-one {
  padding-top: 2em;
}

.hero-body {
  background-color: #F7FBFE;
}

/* FORMS */
label {
  margin-top: 1em;
}

/* signup page */
.signup-form {
  padding-top: 7em;
}

h1.signup-form {
  margin-bottom: 2em;
}
.button-space {
  margin: 1em 0em;
}
button.button.submitting.space {
  margin-right: 0.5em;
}

div.column.is-half.signup {
  padding-top: 13em;
}

div.has-text-centered.add-product {
  margin-top: 2em;
}

/* login page */
.loginForm {
  padding-top: 10em;
}

.loginimg img {
  height: 100%;
  width: 100%;
  padding-top: 5em;
}




/* reset password */
.reset-token {
  padding-top: 100px;
}

/* profile page */

.profileTitle {
  padding-top: 100px;
}

.info {
  margin-top: 3em;
}

.about-me {
  padding-top: 2em;
}

/* figure.image.is-32x32 {
  margin: 0em;
} */

/* product page */

.product {
  /* background-image: url(products.jpg); */
  background-size: cover;
  padding-top: 10em;
  height: 100vh;
  width: 100%;
}

div.columns.products-header.has-text-centered {
  margin: 2em 0em;
}

.columns.products {
  margin-bottom: 7em;
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

h1.bubbles {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: #fff;
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}


.product { 
  padding-top: 5em;
}


.edit-product {
  padding-top: 100px;
}

div.product-line {
  padding: 5em;
}

.four {
  background-image: url(404.jpg);
  background-position: center;
  background-repeat:  no-repeat;
  /* background-attachment: fixed; */
  background-size:  cover;
  /* background-color: #999; */
  min-height: 100vh;
  padding-left: 5em;
  padding-top: 5em;
} 



/* contact us form page */
.contact {
  padding-top: 2em;
  color: #868474;
}

h1.contact {
  padding-bottom: 10em;
}



/* images on landing page */

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

