
/* //////////////////////*/
/* ////Global Style ////*/
/* ////////////////////*/

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* font-family: 'Questrial', sans-serif; */
  min-height: 100vh;
  /* background-color: #F6F6F6; */
}

.navbar.is-transparent {
    background-color: transparent;
    background-image: none;
  }


/* forms */
.field {
  margin: 0 auto;
}

input {
  width: 100%;
  border: none;
  border-bottom: solid grey;
  /* border-radius: 4px; */
  padding: 6px;
}

button, .submitting {
  background-color:#FFAA55;
  color: white;
}

.error {
  margin: 3em;
  border: solid red;
}

/* Footer */
/* ///// */

/* 
.footer {
  padding: 1.5rem;
  background-color: #E1E1E1;
} */

/* .field {
  margin: 0 auto;
} */
/* figure.image {
  margin: 0px;
}

div.container.about-team { 
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  
}
.about-team {
  margin-top: 100px;
} */

/* //////////////////////*/
/* ////Global Style ////*/
/* ////////////////////*/
.review {
  padding-top: 100px;
}

.box {
  width: 80vw;
}

h1.subtitle {
  padding-top: 100px;
}

.request {
  padding-top: 100px;
}

a.navbar-item {
  text-transform: uppercase;
}

.landing {
  background-image: url(landing_hero.jpg);
  background-position: center;
  background-repeat:  no-repeat;
  /* background-attachment: fixed; */
  background-size:  cover;
  /* background-color: #999; */
  min-height: 100vh;
  padding-left: 5em;
  padding-top: 5em;
} 

.hero-body {
  background-color: #F7FBFE;
}

.signupForm {
  padding-top: 100px;
}

.loginForm {
  padding-top: 10em;
}
.loginimg img {
  height: 100%;
  width: 100%;
  padding-top: 10em;
}

/* reset password */
.reset-token {
  padding-top: 100px;
}

.profileTitle {
  padding-top: 100px;
}


.productsHeader {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
}

.productsHeader img {
  height:100%;
  width:100%;
}

.productsHeader h1 {
  padding-top: 100px;
}

.product { 
  padding-top: 5em;
}


.edit-product {
  padding-top: 100px;
}

.four {
  background-image: url(404.jpg);
  background-position: center;
  background-repeat:  no-repeat;
  /* background-attachment: fixed; */
  background-size:  cover;
  /* background-color: #999; */
  min-height: 100vh;
  padding-left: 5em;
  padding-top: 5em;
} 

p.four {
  /* margin-top: 100px; */
}
/* <img src="{{ url_for('static', filename='products.jpg') }}"> */
