	<!-- Template for product card, used as a sub-template in profile page and products page -->

	<div class="column is-one-third-desktop is-half-tablet">
		<div class="card animated fadeIn">
			<div class="card-image">
				<figure class="image">
					<a href="{{ url_for('product', product_id=product.id) }}"><img class="image" src=" ../static/uploads/{{ product.image_filename }}"  alt="Product image"></a>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<div class="media-content is-grouped-centered has-text-centered">
						<p class="title is-4 meets">
							<a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a>
						</p>
						<p class="title is-5 no-padding">location: {{ product.location }}</p>
						{% if product.avg_rating == (int > 0) %}
							<p class="title is-5 no-padding">Rating: {{ (product.avg_rating)|round(1) }}</p>
						{% else %}
							<p class="title is-5 no-padding"> Rating: {{ (product.avg_rating) }}</p>
						{% endif %}
						<a href="{{ url_for('save_to_profile', product_id=product.id) }}" class="button submitting">Save to Favorites</a>
					</div>
				</div>
			</div>  
		</div>  
	</div>  
