	<!-- Template for review card, used as a sub-template in profile page and products page -->
	<!-- .column class to be a child of .columns class whereever this sub-template is called -->

	<div class="column is-one-third-desktop is-half-tablet">
			<div class="card animated fadeIn">
	
				<div class="card-content">
					<div class="content">
						<div class="media-content is-grouped-centered has-text-centered">
							<p class="title is-4 ">
								<!-- Sets anchor tag to 'product' function defined in app.py to redirect to individual product page -->
								<a href="{{ url_for('products') }}" class="has-text-danger">{{ review.title }}</a>
							</p>
							<!-- Uses product info passed in from app.py to dynamically change text content -->
							<p class="title is-5 no-padding">Content: {{ review.body }}</p>
							<p class="title is-5 no-padding">Rating: {{ review.rating }}</p>
							<!-- Sets anchor tag to link to function 'save_to_favorite' defined in app.py -->
							<a href="" class="button is-light is-small">Edit review</a>
							<a href="" class="button is-light is-small">Delete review</a>
						</div>
					</div>
				</div>  <!-- end of .card-content div -->
			</div>  <!-- end of .card div -->
		</div>  <!-- end of .column div -->