<!-- pass in subtemplate of saved favorite to profile page -->


<div class="column is-one-third-desktop is-half-tablet">
		<div class="card">
			<div class="card-image">
				<figure class="image">
					<!-- Because this accesses a referenced product from the join table, call values with an additional dot notation -->
					<a href="{{ url_for('product', product_id=save.product.id) }}"><img src="../static/uploads/{{ save.product.image_filename}}" alt="{{ save.product.image_filename }}"></a>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<div class="media-content">
						<p class="title is-4 meets">
							<a href="{{ url_for('product', product_id=save.product) }}">{{ save.product.name }}</a>
						</p>

						{% if save.product.avg_rating == int %}
							<p> Rating: {{ (save.product.avg_rating) | round(1) }}</p>
						{% else %}
							<p> Rating: {{ save.product.avg_rating }}</p>
						{% endif %}
						<p>Website: {{ save.product.website }}</p>

						<a href="{{ url_for('remove_saved', product_id=save.product) }}" class="button cancel">Remove</a>
						<!-- Sets anchor tag to link to function 'remove_saved' defined in app.py -->
						{% if current_user.id == save.user_id %}
							<a href="{{ url_for('remove_saved', product_id=save.product) }}" class="button cancel">Remove Again</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	