
<!-- pass in subtemplate of saved favorite to profile page -->
{% if current_user.id == save.user.id %}

<div class="column is-one-third-desktop is-half-tablet">
		<div class="card">
			<div class="card-image">
				<figure class="image">
					<!-- Because this accesses a referenced product from the join table, call values with an additional dot notation -->
					<a href="{{ url_for('product', product_id=save.product.id) }}"><img src="../static/uploads/{{ save.product.image_filename}}" alt="{{ save.product.image_filename }}"></a>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<div class="media-content">
						<p class="title is-4">
							<!-- Sets anchor tag to 'product' function defined in app.py to redirect to individual product page -->
							<a href="{{ url_for('product', product_id=save.product) }}" class="has-text-dark">{{ save.product.name }}</a>
						</p>
						<p>{{ save.product.avg_rating }}</p>
						<p>{{ save.product.website }}</p>
						<a href="{{ url_for('remove_saved', product_id=save.product) }}" class="button is-dark is-small">Remove</a>
						<!-- Sets anchor tag to link to function 'remove_saved' defined in app.py -->
						{% if current_user.id == save.user.id %}
							<a href="{{ url_for('remove_saved', product_id=save.product) }}" class="button is-danger is-small">logged in user remove</a>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
	{% endif %}