{% extends "base.html" %}
<!-- Imports macro template for error rendering -->
{% from "macros.html" import field_error %}
{% from "macros.html" import render_field %}

{% block content %}
  <div class="container edit-review">
    <div class="columns">
      <div class="column review">
				<h2 class="subtitle is-2">Edit My Review</h2>
				
        <!-- form tag to enclose the form fields and upon submit, sends whole form as request -->
        <form method="POST" action="">
					{{ form.hidden_tag() }}
					
          <!-- title field -->
          <div class="form-input">
            {{ field_error(form.title) }}

            {{ form.title.label(class="label") }}
            {{ form.title(class="control", value=review.title, cols="35", rows="20") }}
          </div>

          <!-- body field -->
          <div class="form-input">
            {{ field_error(form.body) }}

            {{ form.body.label(class="label") }}
            {{ form.body(class="control", value=review.body, cols="35", rows="20") }}
          </div>

					<!-- rating field -->
					<div class="form-input">
						{{ field_error(form.rating) }}

						{{ form.rating.label(class="label") }}
						{{ form.rating(class="control", value=review.rating, cols="35", rows="20") }}
					</div> <hr>
					
          <div class="">
            <!-- Cancel link redirects to 'profile' function as defined in app.py -->
						<button type="submit" class="button">Save my changes</button>
						<a href="{{ url_for('product') }}" class="button is-light">Cancel</a>
          </div>
        </form><hr>
      </div>  <!-- end of .column div-->

      <div class="column">
        <img src="{{ url_for('static', filename='dog-hotel.jpg') }}">
      </div>
    </div>  <!-- end of .columns div -->
  </div>
{% endblock %}