{% extends "base.html" %}

{% block content %}
	<div class="hero is-fullheight-with-navbar">
			<div class="hero-body">
				<div class="container landing">
					<div class="columns">
						<div class="column is-half">
								<h3>Welcome to </h3>
								<h1 class="emma-title animated fadeIn has-text-left">Emma <span class="meets">Meets</span></h1>
								<p>Join us for free and find what products work best for other dogs!  Or share your review to contribute to our community.  Feel free to browse reviews created by the community and save them to your favorites! Just sign up for an account to get started or login if you already have an account. Happy woof!</p>  
						</div>		
				</div>  
			</div> 
		</div>


	<div class="container">
		<div class="columns">
			<div class="column icon-heading has-text-centered">
				<h1>Come and Join us! <br> <br> Its so easy!</h1>
			</div>
		</div>
		<div class="columns">
			<div class="column icon has-text-centered">
				<img src="{{ url_for('static', filename='password.png') }}">
				<h2>Sign up</h2><br>
				<p>Signing up is free. We will never share your data with anyone. Being part of our community can help you in deciding which products to buy for your dog.</p>
			</div>
			<div class="column icon has-text-centered">
				<img src="{{ url_for('static', filename='dogicon3.png') }}">
				<h2>Create your dog's profile</h2><br>
				<p>Create a profile for your beloved pooch. You can let other know about your dogs favorite snacks, toys and connect with other dogs.</p>
			</div>
			<div class="column icon has-text-centered">
				<img src="{{ url_for('static', filename='review.png') }}">
				<h2>Read and write reviews</h2><br>
				<p>Help us build our platform. You can create dog related products, rate and review them and help other dogs find what works best.</p>
			</div>
		</div>  
	</div>

		<div class="container section-one">
			<div class="columns">
				<div class="column">
					<img class="animated rotateInDownLeft" src="{{ url_for('static', filename='landing6.jpg') }}" alt="">
					<img class="" src="{{ url_for('static', filename='landing8.jpg') }}" alt="">
				</div>
			<div class="column">
				<img class="animated rotateInDownLeft" src="{{ url_for('static', filename='landing1.jpg') }}" alt="">
				<img class="" src="{{ url_for('static', filename='landing9.jpg') }}" alt="">
			</div>
		</div>  
	</div>  

{% endblock %}