{% extends "base.html" %}

{% block content %}
	<div class="hero is-fullheight-with-navbar">
			<div class="hero-body">
				<div class="container landing">
					<div class="columns">
						<div class="column is-half">
								<h1 class="emma-title animated fadeIn has-text-left">Emma Meets</h1>
								<p>Emma is a 14 year old spaniel who loves to meet other dogs and share her experience with dog products that she uses like, dog Hotels, pet insurances, dog fashion etc. Join your fellow pooches eaters and find what works best for other dogs!  Or share your review to contribute to our community.  Feel free to browse reviews created by the community and save them to your favorites! Just sign up for an account to get started or login if you already have an account. Woof woof!</p>  
								<a class="button" href="#">Contact us</a>
						</div>		
				</div>  <!-- end of .container div -->
			</div>  <!-- end of .hero-body div -->
		</div>


	<div class="container section-one">
		<div class="columns">
			<div class="column">
				<img src="#" alt="">
				<img src="" alt="">
			</div>

			<div class="column">
				<img src="" alt="">
			</div>
		</div>  <!-- end of .columns div -->
	</div>  <!-- end of .container div -->

	<div class="container section-one">
		<div class="columns">
			<div class="column">
				<img src="#" alt="">
				<img src="#" alt="">
			</div>

			<div class="column">
				<img src="#" alt="">
			</div>
		</div>  <!-- end of .columns div -->
	</div>  <!-- end of -->

{% endblock %}