{% extends "base.html" %}

{% from "macros.html" import render_field %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column is-one-third loginForm">
          <h1>Sign in to discover more</h1>
          <form method="POST" action="">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
              {{ render_field(field) }}
            {% endfor %}
        
            <div class="columns">
              <div class="column">
                <button type="submit" class="button is-dark">Log In</button>
              </div>
              <div class="column">
                <a href="{{ url_for('index') }}" class="button is-light">Cancel</a>
              </div>
              <div class="column">
                <a href="{{ url_for('reset_request') }}" class="button">Reset Password</a>
              </div>
            </div>
          </form>
        
          <!-- Displays any errors/flash messages to user -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="{{category}} has-text-centered">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </div>
      <div class="column loginimg">
        <img src="{{ url_for('static', filename='login.jpeg') }}">
      </div>
    </div>
  </div>
{% endblock %}