{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="column is-full productsHeader">
			<h1>Product overview</h1>
			<h2>find the product review you were looking for</h2>
			<figure>
			<img src="{{ url_for('static', filename='products.jpg') }}">
		</figure>
		</div>
	</div>

	<div class="container">
		<div class="column is-full is-multiline">
			<div class="productLine">
				<h1>Here are all product instances of this category</h1>
				<div class="columns is-multiline">
					
					{% for product in products %}
						{% include '_product.html' %}
					{% endfor %}

				</div>
			</div>
		</div>
	</div>

{% endblock %}