
{% extends "base.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

{% block content %}

<div class="container">
  <div class="columns">
    <div class="column is-one-quarter product">
      <h1 class="is-4">{{ product.name }}</h1>
      <p class=""> Location: {{ product.location }}</p>
      <p class=""> Website: {{ product.website }}</p>
      <p class=""> Rating: {{ product.rating }}
    </div>
    <div class="column is-three-quarter">
      <img src="{{ url_for('static', filename='dog-hotel.jpg') }}">
    </div>
  </div>
  <div class="columns">
    <div class="container">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ullam laudantium harum asperiores illum maiores tempora! Eos nisi corrupti repudiandae officia, eligendi mollitia totam fugiat quae nobis illum asperiores eveniet!</p><hr>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, quae. Ratione, recusandae quidem. Error quos adipisci cum impedit et. Possimus impedit enim ipsa, ipsum magni dolor alias assumenda sit atque.</p>
    </div>
  </div>
</div>
{% endblock %}
