{% extends 'base.html' %}

{% block content %}
	<div class="container profile-container profileTitle has-text-centered">
		<div class="columns">
			<!-- Profile Image -->
			<div class="column">
				<div class="image">
					<img class="image" src=" ../static/uploads/{{ user.image_filename }}"  alt="User profile image">
				</div>
			</div>

			<!-- User info -->
			<div class="column">
				<p><span class="title meets">{{ user.username }}</span></p>
				{% if current_user.id == user.id %}
					<a href="{{ url_for('edit_profile', username=current_user.username) }}" class="button submitting">Edit Profile</a>
					<a href="{{ url_for('add_product', username=current_user.username) }}" class="button grey">Add a Product</a> 
				{% else %}
					<a href="" class="button submitting">Woof</a>
					<a href="{{ url_for('follow', username=user.username)}}" class="button is-dark">Follow</a>
				{% endif %}
	
				<div class="columns info">
					<div class="column">
						<!-- <i class="fas fa-couch"></i> -->
						<!-- <figure class="image is-32x32"> -->
						<img class="image is-32x32 is-centered" src="{{ url_for('static', filename='dog-house.png') }}">
						<!-- </figure> -->
						<p><span class="location meets">I live in: {{ user.location }} </small></span></p>
						<i class="fas fa-hotdog"></i>
						<p><span class="fav_snack meets"><small>fav_snack: {{ user.fav_snack }}</small></span></p>
					</div>
					<div class="column">
						<i class="fas fa-venus-mars"></i>
						<p><span class="gender meets"><small>gender: {{ user.gender }}</small><nder/span></p>
						<i class="fas fa-hotdog"></i>
						<p><span class="breed meets"><small>breed: {{ user.breed }}</small></span></p>
					</div>
					<div class="column">
						<i class="fas fa-birthday-cake"></i>
						<p><span class="age meets"><small>I am: {{ user.age }} years</small></span></p>
						<i class="fas fa-baseball-ball"></i>
						<p><span class="fav_toy meets"><small>fav_toy: {{ user.fav_toy }}</small></span></p>
					</div>
				</div>
				<div class="columns about-me">
					<div class="column">
						<p><span class="about_me meets">About {{ user.username }}:<br> {{ user.about_me }} </span></p></div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="column messages">
				<!-- Show any flash messages to user from logging in or signing up -->
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class={{category}}>{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>  
	</div>

		<div class="container">
			<div class="columns is-center has-text-centered is-grouped-centered">
				<div class="column">
					<h4>Your Reviews</h4>	
					<button id="button_1" class="button submitting">click to see</button>
				</div>
				<div class="column">
					<h4>Favorite Prodcuts</h4>
					<button id="button_2" class="button submitting">click to see</button>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="column">
				<div id="description_button_1">
					<!-- is-multiline is a Bulma class to allow columns to wrap -->
					<div class="column is-multiline">
						{% for review in reviews  %}
							{% include '_review.html' %}
						{% endfor %}	
					</div>  
				</div>  
			</div>
			<div class="column">
				<div id="description_button_2">	
					<div class="column is-center has-text-centered is-grouped-centered">	
						<div class="columns is-multiline">
							{% for save in saved_product %}
								{% include '_saved_product.html' %}
							{% endfor %}	
						</div> 
					</div>  
				</div>	
			</div> 
		</div>  
	</div>
{% endblock %}
