{% extends 'base.html' %}

{% block content %}
	<div class="container profile-container ">
		<div class="columns profileTitle">
			<!-- User photo -->
			<div class="column">
				<div class="image is-pulled-right">
					<img class="image is-rounded" src="{{ user.avatar(128) }}" alt="Gravatar image">
					<p><span class="about_me"><small>About me: {{ user.about_me }} </small></span></p>
				</div>
			</div>

			<!-- User info -->
			<div class="column">
				<p><span class="title has-text-danger is-bold">{{ user.username }}</span></p>
						<a href="" class="button is-dark">Woof</a>
						<a href="" class="button is-dark">Follow</a>

				<div class="columns">
					<div class="column">
						<p><span class="location"><small>I live in: {{ user.location }} </small></span></p>
						<p><span class="fav_snack"><small>fav_snack: {{ user.fav_snack }}</small></span></p>
						
					</div>
					<div class="column">
						<p><span class="gender"><small>gender: {{ user.gender }}</small><nder/span></p>
						<p><span class="breed"><small>breed: {{ user.breed }}</small></span></p>
					</div>
					<div class="column">
						<p><span class="age"><small>I am: age</small></span></p>
						<p><span class="fav_toy"><small>fav_toy: {{ user.fav_toy }}</small></span></p>
					</div>
				</div>
			</div>
				<!-- If logged in user is on their profile, show Edit Profile button -->
					<div class="columns is-multiline">
						<div class="column">
							<a href="{{ url_for('edit_profile', username=current_user.username) }}" class="button is-light">Edit Profile</a>
						</div>
						<div class="column">
							<a href="" class="button is-dark">Add a Review</a>
						</div>
						<div class="column">
							<a href="{{ url_for('add_product', username=current_user.username) }}" class="button is-dark">Add a Product</a> 
						</div>
				</div>
			</div>
				<!-- Show any flash messages to user from logging in or signing up -->
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class={{category}}>{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			 <!-- end of .column div-->
		</div>  <!-- end of columns div-->
	</div>  <!-- end of .container div -->

	<div class="container">
		<div class="columns is-center has-text-centered is-grouped-centered">
			<!-- User created recipes -->
			<div class="column ">
				<h4>Your Reviews</h4>
			
				
			
				<!-- is-multiline is a Bulma class to allow columns to wrap -->
				<div class="columns is-multiline">
					<!-- Iterate through recipes passed down from app.py -->
					{% for review in Reviews  %}
						<!-- Use each single recipe info in sub-template _recipe.html -->
						{% include '_review.html' %}
					{% endfor %}	
				</div>  <!-- end of .columns div -->
			</div>  <!-- end of .column div -->

			<!-- User saved recipes -->
			<div class="column">
				<h4>Favorite Prodcuts</h4>
				<div class="columns is-multiline">
					<!-- Iterate through saved_recipes passed down from app.py -->
					{% for fave in favorite_product %}
						<!-- Use each single fave recipe info in sub-template _recipe.html -->
						{% include '_favorite_product.html' %}
					{% endfor %}	
				</div>  <!-- end of .columns div -->
			</div>  <!-- end of .column div -->
		</div>  <!-- end of .columns div -->
	</div>  <!-- end of .container div -->
{% endblock %}
