{% extends 'base.html' %}

{% block content %}
	<div class="container profile-container profileTitle ">
		<div class="columns">
			<!-- Profile Image -->
			<div class="column">
				<div class="image">
					<img class="image" src=" ../static/uploads/{{ user.image_filename }}"  alt="User profile image">
					<p><span class="about_me"><small>About me: {{ user.about_me }} </small></span></p>
				</div>
			</div>

			<!-- User info -->
			<div class="column">
				<p><span class="title is-bold">{{ user.username }}</span></p>
				<a href="" class="button submitting">Woof</a>
				<a href="{{ url_for('follow', username=user.username)}}" class="button is-dark">Follow</a>

				<div class="columns">
					<div class="column">
						<i class="fas fa-couch"></i>
						<p><span class="location"><small>I live in: {{ user.location }} </small></span></p>
						<i class="fas fa-hotdog"></i>
						<p><span class="fav_snack"><small>fav_snack: {{ user.fav_snack }}</small></span></p>
					</div>
					<div class="column">
						<i class="fas fa-venus-mars"></i>
						<p><span class="gender"><small>gender: {{ user.gender }}</small><nder/span></p>
						<i class="fas fa-hotdog"></i>
						<p><span class="breed"><small>breed: {{ user.breed }}</small></span></p>
					</div>
					<div class="column">
						<i class="fas fa-birthday-cake"></i>
						<p><span class="age"><small>I am: {{ user.age }} years</small></span></p>
						<i class="fas fa-baseball-ball"></i>
						<p><span class="fav_toy"><small>fav_toy: {{ user.fav_toy }}</small></span></p>
					</div>
				</div>
			</div>
		</div>
		{% if current_user.id == user.id %}
			<div class="container">
				<div class="columns is-multiline">
					<!-- if user is logged in show edit button -->
					<div class="column">
						<a href="{{ url_for('edit_profile', username=current_user.username) }}" class="button is-light">Edit Profile</a>
					</div>
					<div class="column">
						<a href="" class="button is-dark">Add a Review</a>
					</div>
					<div class="column">
						<a href="{{ url_for('add_product', username=current_user.username) }}" class="button is-dark">Add a Product</a> 
					</div>
				</div>
			</div>
		{% endif %}
		<div class="container">
			<div class="column">
				<!-- Show any flash messages to user from logging in or signing up -->
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class={{category}}>{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>  

		<div class="container">
			<div class="columns is-center has-text-centered is-grouped-centered">
				<div class="column">
					<h4>Your Reviews</h4>	
					<button id="button_1" class="button submitting">click to see</button>
				</div>
				<div class="column">
					<h4>Favorite Prodcuts</h4>
					<button id="button_2" class="button submitting">click to see</button>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="column">
				<div id="description_button_1">
					<!-- is-multiline is a Bulma class to allow columns to wrap -->
					<div class="column is-multiline">
						{% for review in reviews  %}
							{% include '_review.html' %}
						{% endfor %}	
					</div>  
				</div>  
			</div>
			<div class="column">
				<div id="description_button_2">	
					<div class="column is-center has-text-centered is-grouped-centered">	
						<div class="columns is-multiline">
							{% for save in saved_product %}
								{% include '_saved_product.html' %}
							{% endfor %}	
						</div> 
					</div>  
				</div>	
			</div> 
		</div>  
	</div>
{% endblock %}
