{% extends "base.html" %}

{% block content %}

	<div class="container">
		<div class="column reset-token">
			<h2 class="subtitle is-2">Reset Password</h2>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				
				<div class="form-input">
					{{ form.password.label(class="form-control-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg") }}
						{% endif %}
				</div>

				<div class="form-input">
					{{ form.confirm_password.label(class="form-control-label") }}
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="has-text-centered button-space">
					<!-- Cancel link redirects to 'profile' function as defined in app.py -->
					<button type="submit" class="button submitting space">Save my changes</button>
					<a href="{{ url_for('index') }}" class="button cancel">Cancel</a>
				</div>
			</form>
		</div>
	</div>
		
{% endblock content %}