{% extends "base.html" %}

{% from "macros.html" import render_field %}

{% block content %}

<div class="container">
  <div class="columns">
    <div class="column is-half signupForm">
      <form method="POST" action="{{ url_for('signup') }}" class="field" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {{ render_field(field) }}
        {% endfor %}

        <div class="has-text-centered">
          <button type="submit" class="button is-dark">Sign Up</button><a href="{{ url_for('index') }}" class="button is-light">Cancel</a>
        </div>
      </form>
    </div>
    <div clas="column is half">
      <img src="{{ url_for('static', filename='signup.jpeg') }}">
    </div>
  </div>
</div>
{% endblock %}
